@(title: String, moreScripts: Html = Html(""))
<!DOCTYPE html>
<html lang="en" class="js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths no-mobile">
    <head>
        <meta charset=UTF-8">
        <title>Capp the Night Sweepstakes – Celebrate the awards season in style.</title>
            <!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="shortcut icon" href="@routes.Assets.versioned("images/favicon.png")" type="image/x-icon">
        <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css'>


        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/icon-font/font-awesome.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/icon-font/pe-icon-7.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/masterslider/masterslider.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/revolution/css/settings.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/revolution/css/navigation.css")" media="screen" />
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/revolution/css/layers.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/animsition.css")">

            <!-- LOADING FONTS AND ICONS -->
        <link href="https://fonts.googleapis.com/css?family=Domine|Open+Sans" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans" />
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css")" media="screen" />
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("fonts/font-awesome/css/font-awesome.min.css")" media="screen" />

            <!-- LOAD JQUERY LIBRARY -->
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/bootstrap.min.js")"></script>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/sweetalert.css")" media="screen" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/dnd.css")">

        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/style.css")" media="screen" />
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/custom.css")">
        <script src="@routes.Assets.versioned("javascripts/modernizr.js")"></script>
    </head>
    <body data-smooth-scroll="true" class="pdbottom">
        <div id="wrap">

            <div class="animsition-overlay" data-animsition-overlay="true">

                <header>

                    <div class="nav-wrap is-fixed is-shrink off-canvas" data-is-fill="true">


                        <div class="container-fluid">

                            <div class="row">
                                <div class="col-md-12 carna-menu-wrap">

                                    <ul class="carna-menu menu-highlight menu-smooth">
                                        <li><a class="page-outer" href="http://www.cappthenightsweepstakes.com/">
                                            Home</a></li>
                                        <li><a class="page-outer" href="@routes.Application.register()">Register</a></li>
                                        <li><a class="active" href="@routes.Application.login()">login</a></li>
                                        <li><a class="page-outer" href="support.html">Support</a></li>
                                    </ul>
                                        <!-- end of menu -->

                                </div>

                                    <!-- / col-md-9 -->
                            </div>
                            <div class="mt">
                                <a href="http://www.cappthenightsweepstakes.com" class="img-full"><img class="menulogo" src="@routes.Assets.versioned("images/quform/logo.png")" width="80%" alt="participate"></a>
                            </div>

                                <!-- end row -->

                        </div>
                            <!-- end container -->

                    </div>
                        <!-- end nav-wrap -->

                </header>
                    <!-- end header -->