@(supportForm: Form[forms.SupportForm])(implicit request: RequestHeader, flash: play.api.mvc.Flash, messages: play.api.i18n.MessagesApi,messagesProvider: MessagesProvider)
@index("ZacBrown",supportForm)
<script>
        var message  ="The promotion is no longer available";
        if (swal == 'undefined') {
            alert(message);
            window.location.replace("/");
        } else {
            swal({
                        title: "Sorry",
                        text: message,
                        type: "warning",
                        confirmButtonClass: "btn-danger",
                        confirmButtonText: "OK",
                        closeOnConfirm: false
                    },
                    function () {
                        window.location.replace("/");
                    });
        }
</script>