@()(implicit request: RequestHeader, messages: MessagesProvider)
<div class="news-item space-y">
    <div class="container no-gutter">
        <div class="row">
            <div class="col-md-10 col-md-offset-1  news-item__content text-center">
                <img src="@routes.Assets.versioned("images/faq/faq1.jpg")" width="50%" height="50%" alt="How long do I have to submit my entry?">
                <h3>What are the participating products ?</h3>
                <div class="news-item__details">
                    <p>All Z. Alexander Brown wines.</p>
                    <!-- For more details about the products and purchase , please visit Terms & condition.  -->
                </div>
            </div>
                <!-- end col-md-4 -->
        </div>
            <!-- / row -->
    </div>
        <!--  /container -->
</div>
