@()(implicit request: RequestHeader, messages: MessagesProvider)
<div class="news-item space-y">
    <div class="container no-gutter">
        <div class="row">
            <div class="col-md-10 col-md-offset-1  news-item__content text-center">
                <img src="@routes.Assets.versioned("images/faq/faq2.jpg")" width="50%" height="50%" alt="what do I do if I am having trouble participating in the program?">
                <h3>How many times can I enter ?</h3>
                <div class="news-item__details text-center">
                    <p>One song download per person.</p>
                </div>
            </div>
                <!-- end col-md-4 -->
        </div>
            <!-- / row -->
    </div>
        <!--  /container -->
</div>
