@()(implicit request: RequestHeader, messages: MessagesProvider)
<div class="news-item space-y">
    <div class="container no-gutter">
        <div class="row">
            <div class="col-md-10 col-md-offset-1  news-item__content text-center">
                <img src="@routes.Assets.versioned("images/faq/faq3.jpg")" width="50%" height="50%" alt="Do I need to make a purchase in order to enter? ">
                <h3>What do I do if I am having trouble participating in the Program ?</h3>
                <div class="news-item__details text-center">
                    <p>If you have any questions or concerns about this promotion, please contact our Promotional Customer Service at <a class="emailPop support-link" href="mailto:support@@receiptprocessor.com">support@@receiptprocessor.com</a>.
                    </p>
                </div>
            </div>
                <!-- end col-md-4 -->
        </div>
            <!-- / row -->
    </div>
        <!--  /container -->
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('.emailPop').on('click', pop);
        function pop(e) {
            javascript:window.location = 'mailto:support@@receiptprocessor.com';
        }
    });
</script>
