@()(implicit request: RequestHeader, messages: MessagesProvider)
<div class="news-item space-y">
    <div class="container no-gutter">
        <div class="row">
            <div class="col-md-10 col-md-offset-1  news-item__content text-center">
                <img src="@routes.Assets.versioned("images/faq/faq4.jpg")" width="50%" height="50%" alt="What are the participating products?">
                <h3>When does the promotion close ?</h3>
                <div class="news-item__details text-center">
                    <p>
                        The offer ends on December 31, 2017 at 11:59 PM PST. All receipts purchased during the promotion must be submitted by January 31, 2018 at 11:59 PM PST.
                    </p>
                </div>
            </div>
                <!-- end col-md-4 -->
        </div>
            <!-- / row -->
    </div>
        <!--  /container -->
</div>
