@(regForm: Form[forms.User])(implicit request: RequestHeader, flash: play.api.mvc.Flash, messages: MessagesProvider)
@import helper._
@import utilities.Constants

    @moreScripts = {
        <script src='https://www.google.com/recaptcha/api.js?explicit&hl=en-CA'></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/register.js")"></script>
    }

    @main("Hills-Bros-Cappuccino", headerScripts = moreScripts) {

        <div id="wrapper" class="content-wrapper pages space-y-b">

            <div id="hero" class="container space-y-t-h space-y-b">

            <div id="rev_slider_38_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="cappuccino" data-source="gallery" style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
            <!-- START REVOLUTION SLIDER 5.4.3.1 fullwidth mode -->
            <div id="rev_slider_38_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.3.1">
            <ul>
            <!-- SLIDE  -->
            <li data-index="rs-89" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide"
        data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
            <!-- MAIN IMAGE -->
            <img src="@routes.Assets.versioned("images/background.jpg")" alt="" data-bgposition="center center" data-bgfit="110% 200%" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
        <!-- LAYERS -->

        <!-- LAYER NR. 1 -->
        <div class="tp-caption   tp-resizeme" id="slide-89-layer-1" data-x="center" data-hoffset="-45" data-y="center" data-voffset="" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image" data-responsive_offset="on"
        data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']"
        data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5;"><img src="@routes.Assets.versioned("images/cap-logo.png")" alt="" data-ww="877px" data-hh="154px" data-no-retina> </div>

        <!-- LAYER NR. 2 -->
        <div class="tp-caption   tp-resizeme" id="slide-89-layer-2" data-x="1390" data-y="-3" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image" data-responsive_offset="on" data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
        data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6;"><img src="@routes.Assets.versioned("images/products.png")" alt="" data-ww="auto" data-hh="auto" data-no-retina> </div>

        <!-- LAYER NR. 5 -->
        <div class="tp-caption   tp-resizeme" id="slide-89-layer-5" data-x="122" data-y="46" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image" data-responsive_offset="on" data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
        data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 9;"><img src="@routes.Assets.versioned("images/logo.png")" alt="" data-ww="400px" data-hh="229px" data-no-retina> </div>
        </li>
        </ul>
        <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
            </div>
            </div>
            <!-- END REVOLUTION SLIDER -->
            </div>

            <div class="container">
                <div class="row">
                    <div id="home" class="container">
                        <div class="row">
                            @flash.get("error").map { message =>
                                <div class="alert alert-danger fade in center-text">
                                    <button id="flashBtn" type="button" class="close btn-danger" data-dismiss="alert">&times;</button>
                                    <strong>Error! </strong>@message
                                </div>
                            }
                            <div class="col-md-12 text-center">
                                <h1 class="section-header">Registration Form<span class="underline animated" data-animation="fullWidth"></span></h1>
                            </div>
                                <!-- / col-md-12 -->
                        </div>
                            <!-- / row -->
                    </div>
                        <!-- / container -->

                    <div class="container padding-y">
                        <div class="quform-outer">
                            @helper.form(action = routes.Registration.saveContestant(), args = 'name -> "email-reg-submit-form", 'id -> "my-form", 'class -> "quform form-overlay") {
                                @CSRF.formField
                                <div class="quform-elements">-
                                    <div class="row instruction">
                                        <div class="col-md-12 col-sm-12 text-center mb">
                                            <h4 class="info-header">SHOP</h4>
                                            <p class="info-text">
                                                Purchase any Hills Bros. Cappuccino product. (Please see the Terms and Conditions for details)
                                            </p>

                                            <h4 class="info-header">TAKE A PICTURE</h4>
                                            <p class="info-text">
                                                Take a clear photo of your entire receipt. It must show the store name, date of purchase and qualifying purchase.
                                            </p>
                                            </p>

                                            <h4 class="info-header">REGISTER</h4>
                                            <p class="info-text">
                                                Complete the registration form including name, email and birthdate.
                                            </p>

                                            <h4 class="info-header">UPLOAD</h4>
                                            <p class="info-text">
                                                Upload a unique receipt image. We will validate and send you a confirmation email within 24-48 hours. *
                                            </p>
                                        </div>
                                    </div>

                                    <div class="row">

                                            <!-- Begin Text input element -->
                                        <div class="quform-overlay quform-element clearfix quform-element-text col-md-6">
                                            <label for="fname">First Name <span class="quform-required">*</span></label>
                                            <div class="quform-input r-linewidth">
                                                <input id="firstName" type="text" name="firstName" value="@regForm("firstName").value"/>
                                                <span class="help-block align-error">@{
                                                    regForm("firstName").error.map { error => messages.messages(error.message) }
                                                }</span>
                                            </div>
                                        </div>
                                            <!-- End Text input element -->

                                            <!-- Begin Text input element -->
                                        <div class="quform-overlay quform-element clearfix quform-element-text col-md-6">
                                            <label for="lname">Last Name <span class="quform-required">*</span></label>
                                            <div class="quform-input r-linewidth">
                                                <input id="lastName" type="text" name="lastName" value="@regForm("lastName").value"/>
                                                <span class="help-block align-error">@{
                                                    regForm("lastName").error.map { error => messages.messages(error.message) }
                                                }</span>
                                            </div>
                                        </div>
                                            <!-- End Text input element -->

                                            <!-- Begin Text input element -->
                                        <div class="quform-overlay quform-element clearfix quform-element-text col-md-6">
                                            <label for="email">Email address <span class="quform-required">*</span></label>
                                            <div class="quform-input r-linewidth">
                                                <input id="emailGroup_email" type="text" name="emailGroup.email" value="@regForm("emailGroup.email").value"/>
                                                <span class="help-block align-error">@{
                                                    regForm("emailGroup.email").error.map { error => messages.messages(error.message) }
                                                }</span>
                                                <span class="help-block align-error">@{
                                                    regForm("emailGroup").error.map { error => messages.messages(error.message) }
                                                }</span>
                                            </div>
                                        </div>
                                            <!-- End Text input element -->

                                            <!-- Begin Text input element -->
                                        <div class="quform-overlay quform-element clearfix quform-element-text col-md-6">
                                            <label for="email_confirm">
                                                Confirm your email address <span class="quform-required">*</span></label>
                                            <div class="quform-input r-linewidth">
                                                <input id="emailGroup_confirmedEmail" type="text" name="emailGroup.confirmedEmail" value="@regForm("emailGroup.confirmedEmail").value"/>
                                                <span class="help-block align-error">@{
                                                    regForm("emailGroup.confirmedEmail").error.map { error => messages.messages(error.message) }
                                                }</span>
                                                <span class="help-block align-error">@{
                                                    regForm("emailGroup").error.map { error => messages.messages(error.message) }
                                                }</span>
                                            </div>
                                        </div>
                                            <!-- End Text input element -->
                                        <div class="register">

                                            <div class="quform-overlay quform-element clearfix quform-element-text dob col-md-3">
                                                <label for="dob_birthDay">
                                                    birth date <span class="quform-required">*</span></label>

                                                <div class="quform-select mtselect">
                                                    <select id="dob_birthDay" name="dob.birthDay" class="dob-select">
                                                        <option value="">select</option>
                                                        @for(day <- Constants.GEN_DATE) {
                                                            <option value="@day._1">@day._2</option>
                                                        }
                                                    </select>
                                                    <span class="help-block align-error">@{
                                                        regForm("dob.birthDay").error.map { error => messages.messages(error.message) }
                                                    }</span>
                                                </div>

                                            </div>
                                            <div class="quform-overlay quform-element clearfix quform-element-text dob col-md-3">
                                                <label for="dob_birthMonth">
                                                    birth month <span class="quform-required">*</span></label>
                                                <div class="quform-select mtselect">
                                                    <select id="dob_birthMonth" name="dob.birthMonth" class="dob-select">
                                                        <option value="">select</option>
                                                        @for(month <- Constants.genMonth(messages.messages.lang)) {
                                                            <option value="@month._1">@month._2</option>
                                                        }
                                                    </select>
                                                    <span class="help-block align-error">@{
                                                        regForm("dob.birthMonth").error.map { error => messages.messages(error.message) }
                                                    }</span>
                                                </div>

                                            </div>

                                            <div class="quform-overlay quform-element clearfix quform-element-text dob col-md-3">
                                                <label for="dob_birthYear">
                                                    birth year <span class="quform-required">*</span></label>
                                                <div class="quform-select mtselect">
                                                    <div class="form-group">
                                                        <select id="dob_birthYear" name="dob.birthYear" class="dob-select">
                                                            <option value="">select</option>
                                                            @for(year <- Constants.GEN_YEAR) {
                                                                <option value="@year._1">@year._2</option>
                                                            }
                                                        </select>
                                                        <span class="help-block align-error">@{
                                                            regForm("dob.birthYear").error.map { error => messages.messages(error.message) }
                                                        }</span>
                                                        <span class="help-block align-error">@{
                                                            regForm("dob").error.map { error => messages.messages(error.message) }
                                                        }</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                            <!-- Begin Text input element -->
                                        <div class="quform-overlay quform-element clearfix quform-element-text col-md-12">
                                            <div class="quform-input">
                                                <input id="isAgree" type="checkbox" name="isAgree" value="true" ><span class="quform-required" style="color: #FF0000;">
                                                *</span> <span class="info-text" id="checkbox-error">
                                                I confirm that I have read and agree to the terms and conditions
                                                set out in this promotional offer.</span>
                                                <span class="help-block align-error">@{
                                                    regForm("isAgree").error.map { error => messages.messages(error.message) }
                                                }</span>
                                            </div>
                                        </div>

                                        <div class="quform-overlay quform-element clearfix quform-element-text col-md-12">
                                            <div class="quform-input">
                                                <div id="captcha" class="g-recaptcha" data-sitekey="6Lfa6Q0TAAAAACcH--9Vp8VZ2159EbHJAtc8ld4q" data-callback="correctCaptcha"></div>
                                                <span class="help-block align-error">@{
                                                    regForm("g-recaptcha-response").error.map { error => messages.messages(error.message) }
                                                }</span>
                                            </div>
                                        </div>
                                            <!-- End Text input element -->

                                            <!-- Begin Submit button -->
                                        <div class="col-md-12">
                                            <div class="text-center">
                                                <button type="submit" value="Send" class="btn-main redbtn">
                                                    <span>submit </span>
                                                </button>
                                            </div>
                                            <div class="quform-loading-wrap"><span class="quform-loading"></span></div>
                                        </div>
                                            <!-- End Submit button -->
                                    </div>
                                        <!-- / row -->
                                    }
                        </div>
                                <!-- / quform-elements -->


                                <!-- end quform -->

                        </div>
                            <!-- end quform-outer -->
                    </div>
                        <!-- end container -->
                </div>

                    <!-- end parallax-base -->
            </div>
                <!-- end row -->

        </div>
            <!-- end container -->
            <!-- Agegate Modal -->
        </div>


    }
    <script type="text/javascript">
        var correctCaptcha = function (response) {
            if (response) {
                $("#captcha").parent().find('span').remove();
            }
        };
   </script>
    <script type = "text/javascript" >
            $(document).ready(function () {
                $(".scrollTo").off('click').removeClass('scrollTo').addClass('redirectBack');
                $('.redirectBack').on('click', startIt);

                function startIt(e) {
                    window.location = "/" + $(this).attr("href")
                }
            });

            var correctCaptcha = function (response) {
                if (response) {
                    $("#captcha").parent().find('span').remove();
                }
            };
</script>
<script>
        $('.page-outer').removeClass('active');
        $('#register').addClass('active');
</script>


<script>
    $('.page-outer').removeClass('active');
    $('#login').addClass('active');
    var revapi38,
        tpj = jQuery;
    tpj(document).ready(function() {
        if (tpj("#rev_slider_38_1 ").revolution == undefined) {
            revslider_showDoubleJqueryError("#rev_slider_38_1 ");
        } else {
            revapi38 = tpj("#rev_slider_38_1 ").show().revolution({
                sliderType: "hero ",
                jsFileLocation: "//products.3tierlogic.com/slidereditor/revslider/public/assets/js/ ",
                sliderLayout: "fullwidth ",
                dottedOverlay: "none ",
                delay: 9000,
                navigation: {},
                visibilityLevels: [1240, 1024, 778, 480],
                gridwidth: 1980,
                gridheight: 300,
                lazyType: "none ",
                shadow: 0,
                spinner: "spinner0 ",
                autoHeight: "off ",
                disableProgressBar: "on ",
                hideThumbsOnMobile: "off ",
                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 0,
                hideAllCaptionAtLilmit: 0,
                debugMode: false,
                fallbacks: {
                    simplifyAll: "off ",
                    disableFocusListener: false,
                }
            });
        }
    });
</script>
