@(regForm: Form[forms.User])(implicit request: RequestHeader, flash: play.api.mvc.Flash, messages: MessagesProvider)
@import helper._
@import utilities.Constants

    @moreScripts = {
        <script src='https://www.google.com/recaptcha/api.js?explicit&hl=en-CA'></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/register.js")"></script>
    }

    @main("Hills-Bros-Cappuccino", headerScripts = moreScripts) {

        <div id="wrapper" class="content-wrapper pages mt">
            <div class="container space-y-t-h space-y-b">
                <div class="row">
                    <div id="home" class="container space-y-t">
                        <div class="row">
                            @flash.get("error").map { message =>
                                <div class="alert alert-danger fade in center-text">
                                    <button id="flashBtn" type="button" class="close btn-danger" data-dismiss="alert">&times;</button>
                                    <strong>Error! </strong>@message
                                </div>
                            }
                            <div class="col-md-12 text-center">
                                <h1 class="section-header">
                                    Registration Form<span class="underline animated" data-animation="fullWidth"></span></h1>
                            </div>
                                <!-- / col-md-12 -->
                        </div>
                            <!-- / row -->
                    </div>
                        <!-- / container -->

                    <div class="container padding-y">
                        <div class="quform-outer">
                            @helper.form(action = routes.Registration.saveContestant(), args = 'name -> "email-reg-submit-form", 'id -> "my-form", 'class -> "registration-form") {
                                @CSRF.formField
                                <div class="quform-elements">
                                    <div class="row instruction">
                                        <div class="col-md-12 col-sm-12 text-justify mb">
                                            <h4 class="info-header">SHOP</h4>
                                            <p class="info-text">
                                                Purchase any Hills Bros. Cappuccino product. (Please see the <a class="support-link" href="">
                                                Terms and Conditions</a> for more information)
                                            </p>

                                            <h4 class="info-header">TAKE A PICTURE</h4>
                                            <p class="info-text">
                                                Take a clear photo of your entire receipt with your mobile phone. Receipt must show the store name and date of purchase and qualifying purchase.</p>

                                            <h4 class="info-header">REGISTER</h4>
                                            <p class="info-text">
                                                Complete the registration form and upload a unique receipt. Your upload will be validated and a confirmation email will be sent to the email address provided within 24-48 hours. * </p>

                                            <h4 class="info-header">UPLOAD</h4>
                                            <p class="info-text">
                                                To upload a photo of your receipt, you must first complete the registration form. Once you click “submit form” at the bottom of the registration form, you will then be prompted to upload a photo of your receipt.
                                            </p>
                                        </div>
                                    </div>

                                    <div class="row">

                                            <!-- Begin Text input element -->
                                        <div class="quform-overlay quform-element clearfix quform-element-text col-md-6">
                                            <label for="fname">First Name <span class="quform-required">*</span></label>
                                            <div class="quform-input linewidth">
                                                <input id="firstName" type="text" name="firstName" value="@regForm("firstName").value"/>
                                                <span class="help-block align-error">@{
                                                    regForm("firstName").error.map { error => messages.messages(error.message) }
                                                }</span>
                                            </div>
                                        </div>
                                            <!-- End Text input element -->

                                            <!-- Begin Text input element -->
                                        <div class="quform-overlay quform-element clearfix quform-element-text col-md-6">
                                            <label for="lname">Last Name <span class="quform-required">*</span></label>
                                            <div class="quform-input linewidth">
                                                <input id="lastName" type="text" name="lastName" value="@regForm("lastName").value"/>
                                                <span class="help-block align-error">@{
                                                    regForm("lastName").error.map { error => messages.messages(error.message) }
                                                }</span>
                                            </div>
                                        </div>
                                            <!-- End Text input element -->

                                            <!-- Begin Text input element -->
                                        <div class="quform-overlay quform-element clearfix quform-element-text col-md-6">
                                            <label for="email">Email address <span class="quform-required">*</span></label>
                                            <div class="quform-input linewidth">
                                                <input id="emailGroup_email" type="text" name="emailGroup.email" value="@regForm("emailGroup.email").value"/>
                                                <span class="help-block align-error">@{
                                                    regForm("emailGroup.email").error.map { error => messages.messages(error.message) }
                                                }</span>
                                                <span class="help-block align-error">@{
                                                    regForm("emailGroup").error.map { error => messages.messages(error.message) }
                                                }</span>
                                            </div>
                                        </div>
                                            <!-- End Text input element -->

                                            <!-- Begin Text input element -->
                                        <div class="quform-overlay quform-element clearfix quform-element-text col-md-6">
                                            <label for="email_confirm">
                                                Confirm your email address <span class="quform-required">*</span></label>
                                            <div class="quform-input linewidth">
                                                <input id="emailGroup_confirmedEmail" type="text" name="emailGroup.confirmedEmail" value="@regForm("emailGroup.confirmedEmail").value"/>
                                                <span class="help-block align-error">@{
                                                    regForm("emailGroup.confirmedEmail").error.map { error => messages.messages(error.message) }
                                                }</span>
                                                <span class="help-block align-error">@{
                                                    regForm("emailGroup").error.map { error => messages.messages(error.message) }
                                                }</span>
                                            </div>
                                        </div>
                                            <!-- End Text input element -->
                                        <div class="register">

                                            <div class="quform-overlay quform-element clearfix quform-element-text dob col-md-4">
                                                <label for="dob_birthDay">
                                                    Select your birth date <span class="quform-required">*</span></label>

                                                <div class="quform-select mtselect">
                                                    <select id="dob_birthDay" name="dob.birthDay" class="dob-select">
                                                        <option value="">Select your birth date</option>
                                                        @for(day <- Constants.GEN_DATE) {
                                                            <option value="@day._1">@day._2</option>
                                                        }
                                                    </select>
                                                    <span class="help-block align-error">@{
                                                        regForm("dob.birthDay").error.map { error => messages.messages(error.message) }
                                                    }</span>
                                                </div>

                                            </div>
                                            <div class="quform-overlay quform-element clearfix quform-element-text dob col-md-4">
                                                <label for="dob_birthMonth">
                                                    Select your birth month <span class="quform-required">*</span></label>
                                                <div class="quform-select mtselect">
                                                    <select id="dob_birthMonth" name="dob.birthMonth" class="dob-select">
                                                        <option value="">Select your birth month</option>
                                                        @for(month <- Constants.genMonth(messages.messages.lang)) {
                                                            <option value="@month._1">@month._2</option>
                                                        }
                                                    </select>
                                                    <span class="help-block align-error">@{
                                                        regForm("dob.birthMonth").error.map { error => messages.messages(error.message) }
                                                    }</span>
                                                </div>

                                            </div>

                                            <div class="quform-overlay quform-element clearfix quform-element-text dob col-md-4">
                                                <label for="dob_birthYear">
                                                    Select your birth year <span class="quform-required">*</span></label>
                                                <div class="quform-select mtselect">
                                                    <div class="form-group">
                                                        <select id="dob_birthYear" name="dob.birthYear" class="dob-select">
                                                            <option value="">Select your birth year</option>
                                                            @for(year <- Constants.GEN_YEAR) {
                                                                <option value="@year._1">@year._2</option>
                                                            }
                                                        </select>
                                                        <span class="help-block align-error">@{
                                                            regForm("dob.birthYear").error.map { error => messages.messages(error.message) }
                                                        }</span>
                                                        <span class="help-block align-error">@{
                                                            regForm("dob").error.map { error => messages.messages(error.message) }
                                                        }</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                            <!-- Begin Text input element -->
                                        <div class="quform-overlay quform-element clearfix quform-element-text col-md-12">
                                            <div class="quform-input">
                                                <input id="terms" type="checkbox" class="reqtext" name="isAgree" value="true" ><span class="quform-required" style="color: #FF0000;">
                                                *</span> <span class="info-text">
                                                I confirm that I have read and agree to the terms and conditions
                                                set out in this promotional offer.</span>
                                                <span class="help-block align-error">@{
                                                    regForm("isAgree").error.map { error => messages.messages(error.message) }
                                                }</span>
                                            </div>
                                        </div>

                                        <div class="quform-overlay quform-element clearfix quform-element-text col-md-12">
                                            <div class="quform-input">
                                                <div id="captcha" class="g-recaptcha" data-sitekey="6Lfa6Q0TAAAAACcH--9Vp8VZ2159EbHJAtc8ld4q" data-callback="correctCaptcha"></div>
                                                <span class="help-block align-error">@{
                                                    regForm("g-recaptcha-response").error.map { error => messages.messages(error.message) }
                                                }</span>
                                            </div>
                                        </div>
                                            <!-- End Text input element -->

                                            <!-- Begin Submit button -->
                                        <div class="quform-submit-overlay col-md-12 clearfix">
                                            <div class="quform-submit-inner">
                                                <button type="submit" value="Send" class="btn-main redbtn">
                                                    <span>submit </span>
                                                </button>
                                            </div>
                                            <div class="quform-loading-wrap"><span class="quform-loading"></span></div>
                                        </div>
                                            <!-- End Submit button -->
                                    </div>
                                        <!-- / row -->
                                    }
                        </div>
                                <!-- / quform-elements -->


                                <!-- end quform -->

                        </div>
                            <!-- end quform-outer -->
                    </div>
                        <!-- end container -->
                </div>
                <p class="condition">
                    * If you do not see an email confirmation or offer code after 48 hours and you have checked your inbox, spam or junk folders, please email <a class="support-link" href="mailto:support@@receiptprocessor.com">
                    support@@receiptprocessor.com</a>.</p>

                    <!-- end parallax-base -->
            </div>
                <!-- end row -->

        </div>
            <!-- end container -->
            <!-- Agegate Modal -->
        </div>


    }
    <script type="text/javascript">
        var correctCaptcha = function (response) {
            if (response) {
                $("#captcha").parent().find('span').remove();
            }
        };
   </script>
    <script type = "text/javascript" >
            $(document).ready(function () {
                $(".scrollTo").off('click').removeClass('scrollTo').addClass('redirectBack');
                $('.redirectBack').on('click', startIt);

                function startIt(e) {
                    window.location = "/" + $(this).attr("href")
                }
            });

            var correctCaptcha = function (response) {
                if (response) {
                    $("#captcha").parent().find('span').remove();
                }
            };
</script>
<script>
        $('.page-outer').removeClass('active');
        $('#register').addClass('active');
</script>


